<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta
        name="description" content="{{ description or metadata.description }}"> {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
        {#- <meta name="generator" content="{{ eleventy.generator }}"> #} <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet"> {#- Add an arbitrary string to the bundle #}
        {%- css %}* { box-sizing: border-box; }{% endcss %}
        {%- css %}{% include "public/css/index.css" %}{% endcss %}
        <style>
            {% getBundle "css" %}</style>
    </head>
    <body>
        <a href="#skip" class="visually-hidden">Skip to main content</a>
        <header>
            <a href="/" class="home-link">
                <img src="/img/npu-logo.png" alt="" width="100">
                <span class="visually-hidden">
                    {{ metadata.title }}
                </span>
            </a>
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <nav>
                <h2 class="visually-hidden">Top level navigation menu</h2>
                <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item">
                            <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </header>
        <main id="skip">
            {{ content | safe }}
        </main>
        <footer>
            <p>&copy; {{ build.timestamp | dateToFormat('yyyy') }}
                <a href="/">Notion Power Users</a>. All rights reserved.</p>
            <p>This site is not affiliated with Notion.</p>
        </footer>
        <!-- Current page: {{ page.url | htmlBaseUrl }} -->
    </body>
</html>